<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div>使用 gitlab + jenkins 实现持续集成</div>
    <div>第三次测试，2021/2/4</div>
    <div>canvas 掘金小册资料</div>
	<div>
		<el-button>
			<a href="https://github.com/sunshine940326/canvas">资料地址</a>
		</el-button>
	</div>
    <!-- <canvas id="canvas" style="background:#111"></canvas> -->
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  mounted () {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
